astroid==2.1.0
atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
entrypoints==0.3
fake2db==0.5.4
fire==0.1.3
flake8==3.7.7
inflect==2.1.0
isort==4.3.9
lazy-object-proxy==1.3.1
mccabe==0.6.1
more-itertools==6.0.0
numpy==1.16.2
pandas==0.24.1
pluggy==0.9.0
psycopg2==2.7.7
py==1.8.0
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.0
Pygments==2.3.1
pylama==7.6.6
pylint==2.2.2
pytest==4.3.0
python-dateutil==2.8.0
python-fire==0.1.0
pytz==2018.9
six==1.12.0
snowballstemmer==1.2.1
sqlacodegen==2.0.1
SQLAlchemy==1.2.18
SQLAlchemy-Utils==0.33.11
wrapt==1.11.1
xlrd==1.2.0
